@{
    ViewData["Title"] = "Catalog list";
}

<div>
    <h1>Catalog list</h1>
    <hr>
    @{
        IReadOnlyList<Product>? catalog = (IReadOnlyList<Product>?)@ViewData["Catalog"];
        if (catalog != null)
        {
            @foreach (var item in catalog)
            {
                <div>Id: @item.Id; Name: @item.Name; <img src="@item.Img" alt="зкщвгсе picture" width="100"/></div>
            }
        }
    }
</div>