@{
    ViewData["Title"] = "Creating products";
}

<form method="post">
    Id: <input type="text" name="id" required />
    <br />
    Name: <input type="text" name="name" />
    <br />
    Image: <input type="text" name="img" />
    <br />
    <input type="submit" name="Submit" value="Create" />
</form>