@model Product

@{
    ViewData["Title"] = "Список товаров";
}

<form method="post">
    Id: <input type="text" name="id" required />
    <br/>
    Имя: <input type="text" name="name" />
    <br/>
    Фото: <input type="image" name="image" />
    <br/>
    <input type="submit" name="submit" value="Добавить" />
</form>
